#main {
    position: relative;
    overflow: hidden;
  }

  #page {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #040A0F;
  }

  #page1 {
    position: relative;
    height: 130vh;
    width: 100vw;
    background-color: #040A0F;
  }

  #page2 {
    position: relative;
    height: 140vh;
    width: 100vw;
    background-color: #040A0F;
  }

  #page3 {
    position: relative;
    height: 130vh;
    width: 100vw;
    background-color: #040A0F;

  }

  canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999; /* Set a high z-index value to ensure the canvas stays above other elements */
    width: 50%; /* Adjust the width as desired */
    height: 100vh; /* Adjust the height as desired */
    /* max-width: 100vw;
    max-height: 100vh; */
  }
  
#loop{
    display: flex;
    position: absolute;
    top: 30%;
    height: 25%;
    width: 100%;
    font-size: 100px;
    white-space: nowrap;
    font-family: gilroy;
}
#loop>h1{
    font-weight: 400;
    animation-name: anim;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#loop>h1>span{
    -webkit-text-stroke: 1.2px #000;
    color: transparent;
    font-weight: 500;
}
@keyframes anim{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 768px) {
        .tf-heading.style-2 {
          margin-left: 0;
        }
      
    /* Adjust the styles for iPad mini and similar screen sizes */
    #main {
      display: flex;
      flex-wrap: wrap;
    }
  
    #page1,
    #page2,
    #page3 {
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
    }
  
    #page1>#right-text,
    #page1>#left-text,
    #page2>#text1,
    #page2>#text2,
    #page3>#text3 {
      margin-left: 0;
    }
  
    #page1>#right-text,
    #page1>#left-text,
    #page2>#text1,
    #page2>#text2,
    #page3>#text3,
    .col-md-6 {
      margin-bottom: 30px;
    }
  }
  